* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('background.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;   
}

.logo {
    font-size: 3rem;
    position: absolute;
    top: 20px;
    left: 20px;
    text-shadow: 
        -1px -1px 0 rgb(0, 0, 0),
        1px -1px 0 rgb(0, 0, 0),
        -1px 1px 0 rgb(0, 0, 0),   
        1px 1px 0 rgb(0, 0, 0);    
}

.container {
    text-align: center;
    color: white;
    max-width: 800px;
}

h1 {
    font-size: 5rem; 
    margin-bottom: 50px;
    color: rgba(0, 160, 255); 
    text-shadow: 
        -1px -1px 0 #FFFFFF,  
        1px -1px 0 #FFFFFF,   
        -1px 1px 0 #FFFFFF,   
        1px 1px 0 #FFFFFF;    
    text-decoration-color: rgba(0, 160, 255);
    text-decoration: underline;
}

p {
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: rgb(255, 255, 255); 
    text-shadow: 
        -1px -1px 0 rgb(0, 0, 0),  
        1px -1px 0 rgb(0, 0, 0),   
        -1px 1px 0 rgb(0, 0, 0),   
        1px 1px 0 rgb(0, 0, 0);    
}

.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    background-color: rgba(0, 160, 255);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.5s, border-color 0.5s, transform 0.3s ease;
}

.btn:hover {
    background-color: white;
    color: rgba(0, 160, 255);
    border-color: rgba(0, 160, 255);
    transform: scale(1.2);
}

.result-container {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.result-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.result-container p {
    font-size: 1.2rem;
    color: #00a0ff;
}
